@import url("fonts/stylesheet.css");
:root {
    --green: #39a839;
    --green-opacity: rgba(57, 168, 57, 0.8);
    --red: #dc3e2d;
    --red-opacity: rgba(220, 62, 45, 0.8);
    --gray: #3f3f3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    color: white;
    text-wrap: balance;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

b {
    color: var(--green)
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #222;
    font-family: 'Now', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    place-items: center;
    gap: 50px;
}

.container .card {
    position: relative;
    width: 380px;
    height: fit-content;
    padding-bottom: 20px;
    background: rgba(45,45,45,1);
    border-radius: 20px;
    overflow: hidden;
}

.container .card::before {
    content: '';
    top: var(--y);
    left: var(--x);
    transform: translate(-50% ,-50%);
    position: absolute;
    background: radial-gradient(var(--green), transparent, transparent);
    width: 700px;
    height: calc(100% + 700px);
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
}

.container .card:hover::before {
    opacity: 1;
}

.container .card::after {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 18px;
    background: rgba(45,45,45,0.9);
}

.container .card div {
    position: relative;
    z-index: 10;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}

.form-control label {
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
}

.form-control :is(input, textarea) {
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    outline: none;
}

.form-control textarea {
    resize: none;
}

.form-control input.error,
.form-control textarea.error {
    border: 1px solid var(--red);
}

.form-control input:focus,
.form-control textarea:focus {
    border: 1px solid var(--green);
    box-shadow: 0 0 2px 1px var(--green-opacity);
}

.form-control input.error:focus,
.form-control textarea.error:focus {
    border: 1px solid var(--red);
    box-shadow: 0 0 2px 1px var(--red-opacity);
}

.error-message {
    color: var(--red);
    display: block;
    margin-top: 5px;
}

.card p {
    color: white;
    margin-top: 20px;
}

code {
    display: block;
    margin-top: 10px;
    color: white;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    cursor: pointer;
}

footer {
    background-color: var(--gray);
    width: 100%;
    padding: 10px;
}

footer p {
    color: white;
    text-align: center;
}

footer p a {
    color: white;
    font-weight: 700;
}

.copied {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bgAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox {
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background-color: #1d1d1d;
}

.colorBox:hover {
    background-color: var(--green);
    transition: 0s;
}

.backgroundAmim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--green);
    filter: blur(60px);
    animation: animback 6s linear infinite;
}

@keyframes animback {
    0% {
        top: -60px;
    }
    100% {
        top: 120%;
    }
}
